<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>codeial | Profile</title>
  </head>
  <body>
    <h1>This is the profile page</h1>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
  </body>
</html>
