body {
    background-color: #F7F5EB;
}

a {
    color: black;
}

a:hover {
    color:rgb(130, 129, 129);
}

.navLink {
    color: black;
    margin: 0 5px;
}

.navLink:hover {
    color:rgb(72, 71, 71);
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bold;
}

.navbar {
    padding: 0 10px;
}

.author {
    color: gray;
}

.post-array {
    padding: 10px;
}

#feed-posts {
    padding: 10px;
}

.user-friends {
    width: 30%;
    border-left: 1px solid rgb(185, 185, 185);
    padding-top: 20px;
    padding-left: 10px;
    height: 100vh;
}
